<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <title>Booking A Service</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script>
            function myFunction2() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
        <script>
            $( function() {
                $( "#id_dateservice" ).datepicker({dateFormat: 'yy-mm-dd', minDate: new Date(), maxDate: new Date(new Date().setMonth(new Date().getMonth() + 3))});
                $('#id_starttime').timepicker({
                    timeFormat: 'h:mm p',
                    interval: 30,
                    minTime: '8',
                    maxTime: '6:00pm',
                    defaultTime: '11',
                    startTime: '8:00',
                    dynamic: false,
                    dropdown: true,
                    scrollbar: true
                });
                $( "#id_dateservice" ).on('keydown paste', function(e){
                    e.preventDefault();
                })
            } );
        </script>
    </head>
   
    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
            
            <div class="topnav_menu">
                <a href="{% url 'home' %}">Home</a>
                <a class="active" href="{% url 'services_list' %}" disabled="disabled">Services</a>
                <a href="{% url 'becomeContractor' %}">Become A Contractor</a>
                {% if have_user %}
                    <div class="dropdown">
                        <button class="dropbtn">My Account 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{% url 'userProfile' %}">Profile</a>
                            <a href="{% url 'userBooking' %}">Booking History</a>
                            <a href="{% url 'userPayment' %}">Payment Methods</a>
                            <a href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </div>
                {% elif have_contractor %}
                <div class="dropdown">
                    <button class="dropbtn">My Account 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'contractorProfile' %}">Profile</a>
                        <a href="{% url 'contractorServices' %}">Service Record</a>
                        <a href="{% url 'contractorRatings' %}">Rating Record</a>
                        <a href="{% url 'contractorContracts' %}">Contract History</a>
                        <a href="{% url 'contractorSchedule' %}">My Schedule</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </div>
                </div>
                {% elif have_admin %}
                <div class="dropdown">
                    <button class="dropbtn">My Account 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'administratorProfile' %}">Profile</a>
                        <a href="{% url 'manageUsers' %}">Manage Users</a>
                        <a href="{% url 'manageContractors' %}">Manage Contractors</a>
                        <a href="{% url 'manageApp1' %}">Manage Contractors Applications</a>
                        <a href="{% url 'manageApp2' %}">Manage Add Service Applications</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </div>
                </div>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
        
        <div class="pageContent">
            <h2 class="header">Booking - {{service}}</h2>
            
            {% if have_user %}
                <p>Enter information required below.</p>

                {% for message in messages %}
                    <div id="myDIV" class="alert alert-success">
                        <i class="fa fa-close" onclick="myFunction2()"></i>

                        {{ message }}

                    </div>
                {% endfor %}
                <form class="bookingForm" method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th colspan="2">Description</th>
                        </tr>
                        <tr>
                            <td colspan="2">{{form.description}}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Start Time</th>
                        </tr>
                        <tr>
                            <td>{{form.dateservice}}</td>
                            <td>{{form.starttime}}</td>
                        </tr>
                        <tr>
                            <th colspan="2">Service Location</th>
                        </tr>
                        <tr>
                            <th colspan="2">Address</th>
                        </tr>
                        <tr>
                            <td colspan="2">{{form.serviceaddress}}</td>
                        </tr>
                        <tr>
                            <th>Apt. Number</th>
                            <th>Zip Code</th>
                        </tr>
                        <tr>
                            <td>{{form.serviceaptnum}}</td>
                            <td>{{form.servicezipcode}}</td>
                        </tr>
                    </table>
                    
                    <div class="controlBooking">
                        <input type="submit" name="Get Contractors" value="Get Available Contractors">
                        <a class="btn_link" href="{% url 'services_list' %}">Cancel</a>
                    </div>
                </form>
            {% else %}
                <p>You need to be logged in to book service.</p>

                <div class="bookingUser">
                    <a class="btn_link" href="{% url 'login' %}">Login</a>
                    <a class="btn_link" href="{% url 'createUserAccount' %}" disable="disabled">Create an Account</a>
                </div>
            {% endif %}
        </div>

        <footer>
            <!-- Footer main -->
            <section class="ft-main">
              <div class="ft-main-item">
                <ul>
                  <li><a href="{% url 'services_list' %}">Services</a></li>
                  <li><a href="{% url 'becomeContractor' %}">Become A Contractor</a></li>
                  <li><a href="{% url 'login' %}">User Account</a></li>
                  <li><a href="{% url 'loginContractor' %}">Contractor Account</a></li>
                  <li><a href="{% url 'loginAdministrator' %}">Administrator Account</a></li>
                </ul>
              </div>
              <div class="ft-main-item">
                <a href="#">Contact Us</a>
              </div>
            </section>
          
            <!-- Footer legal -->
            <section class="ft-legal">
              <ul class="ft-legal-list">
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li>&copy;2020 Group 3 - Fix-it-Felix.</li>
              </ul>
            </section>
        </footer>
    </body>

</html>