<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script>
            function myFunction() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </head>
   
    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
        </div>
        
        <div class="pageContent">
            <h2 class="header">Contractor Login</h2>
            
            {% for message in messages %}
                <div id="myDIV" class="alert alert-success">
                    <i class="fa fa-close" onclick="myFunction()"></i>

                    {{ message }}

                </div>
            {% endfor %}

            <form class="login" method="POST">
                {% csrf_token %}

                {% for field in form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}" class="label">{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="submit" name="Login User">
                <div class="createAccount">
                    Don't have an account? <a href="{% url 'becomeContractor' %}">Apply</a>
                </div>
            </form>
        </div>
    </body>

</html>