<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>
   
    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
        </div>
        
        <div class="pageContent">
            <h2 class="header">Login</h2>
            
            <form class="login" method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for field in form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}" class="label">{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                <input type="submit" name="Login Administrator">
                <div class="createAccount">
                    Not a contractor? <a href="{% url 'becomeContractor' %}">Become a Contractor</a>
                </div>
            </form>
        </div>
    </body>

</html>