<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <title>Error</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>
   
    <body>
      <div class="topnav">
        <div class="topnav_logo">
          <a href="{% url 'home' %}">HomeNeedsService</a>
        </div>
      </div>
        
      <div class="pageContent">
        <h1 class="header">Error</h1>
        <h3>{{message}}</h3>
      </div>

      <footer>
        <!-- Footer main -->
        <section class="ft-main">
          <div class="ft-main-item">
            <ul>
              <li><a href="{% url 'services_list' %}">Services</a></li>
              <li><a href="{% url 'becomeContractor' %}">Become A Contractor</a></li>
              <li><a href="{% url 'login' %}">User Account</a></li>
              <li><a href="{% url 'loginContractor' %}">Contractor Account</a></li>
              <li><a href="{% url 'loginAdministrator' %}">Administrator Account</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <a href="#">Contact Us</a>
          </div>
        </section>
          
        <!-- Footer legal -->
        <section class="ft-legal">
          <ul class="ft-legal-list">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li>&copy;2020 Group 3 - Fix-it-Felix.</li>
          </ul>
        </section>
      </footer>
    </body>

</html>