<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>
   
    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
            
            <div class="topnav_menu">
                <a class="active" href="{% url 'home' %}">Home</a>
                <a href="{% url 'services_list' %}">Services</a>
                <a href="{% url 'becomeContractor' %}">Become A Contractor</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
        
        <div class="pageContent">
            <h2 class="header">Welcome to HomeNeedsService</h2>
            <p>HomeNeedsService offers a fast, easy, and safe way of arranging and booking home services, such as home cleaning, furniture assembling, and many more.</p>
        </div>
    </body>

</html>