<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>
   
    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
            
            <div class="topnav_menu">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'services_list' %}">Services</a>
                <a href="{% url 'becomeContractor' %}">Become A Contractor</a>
                <a class="active" href="{% url 'login' %}">Login</a>
            </div>
        </div>
        
        <div class="pageContent">
            <h2 class="header">Login</h2>
            
            <form class="login">
                {% csrf_token %}
                {% for field in form %}
                    <div class=field>
                        <label for="{{ field.id_for_label }}" class="label">{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                <input type="submit" name="Login User">
                <div class="createAccount">
                    Don't have an account? <a href="#">Sign-up</a>
                </div>
            </form>
        </div>
    </body>

</html>