<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <title>Services</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>
   
    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
            
            <div class="topnav_menu">
                <a href="{% url 'home' %}">Home</a>
                <a class="active" href="{% url 'services_list' %}">Services</a>
                <a href="{% url 'becomeContractor' %}">Become A Contractor</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
        
        <div class="pageContent">
            <h2 class="header">Services</h2>
            <p>Select the service you need to book.</p>

            {% for serviceCategory in serviceCategories %}
                <div class="serviceCategoryTitles">
                    <h4>{{serviceCategory.sub_name}}</h4>

                    {% for service in serviceCategory.services_set.all %}
                        <div class="servieLinks">
                            <a href="#">{{service}}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </body>

</html>