<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Contractor Ratings</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>

    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
            <div class="topnav_menu">
                <a href="{% url 'logoutProfile' %}">Log Out</a>
            </div>
        </div>

        <div class="userWelcome">
            <h2 class="header">Welcome {{contractor.name}}!</h2>
        </div>
        
        <div class="usernav">
            <ul>
                <li><a href="{% url 'contractorProfile' %}">Profile</a></li>
                <li><a href="{% url 'contractorServices' %}">Services Record</a></li>
                <li class="active"><a href="{% url 'contractorRatings' %}" disabled="disabled">Rating Record</a></li>
                <li><a href="{% url 'contractorSchedule' %}">My Schedule</a></li>
                <li><a href="{% url 'contractorContracts' %}">Contract History</a></li>
            </ul>
        </div>

        {% if hasRatings %}
            {% for rating in ratingMy %}
            <div class="ratingsView">
                <div class="row1">
                    <h3 class="title">{{rating.title}}</h3>
                    <p class="date">{{rating.date}}</p>
                </div>

                <div class="row2">
                    <p class="rating">Rating: {{rating.number_rating}}</p>
                    <p class="user">by {{rating.userid.firstname}} {{rating.userid.firstname}}</p>
                </div>
                
                <div class="comments">
                    <p>{{rating.comments}}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="noData">
            <h2>No Rating Record.</h2>
        </div>
        {% endif %}

    </body>

</html>