<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Contractor Schedule</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>

    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
            <div class="topnav_menu">
                <a href="{% url 'logoutProfile' %}">Log Out</a>
            </div>
        </div>

        <div class="userWelcome">
            <h2 class="header">Welcome {{contractor.name}}!</h2>
        </div>
        
        <div class="usernav">
            <ul>
                <li><a href="{% url 'contractorProfile' %}">Profile</a></li>
                <li><a href="{% url 'contractorServices' %}">Services Record</a></li>
                <li><a href="{% url 'contractorRatings' %}">Rating Record</a></li>
                <li class="active"><a href="#" disabled="disabled">My Schedule</a></li>
                <li><a href="{% url 'contractorContracts' %}">Contract History</a></li>
            </ul>
        </div>

        <ul class="calendar-tools">
            <li>
                <a class="btn_link" href={{ previous_month }}>
                    Previous month
                </a>
            </li>
            <li>
                <a class="btn_link" href={{ next_month }}>
                    Next month
                </a>
            </li>
        </ul>

        {{ calendar }}

        <div class="controlEdit">
            <a class="btn_link" href="#">Add Event</a>
        </div>

    </body>

</html>