<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Contractor Contracts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>

    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
        </div>

        <div class="userWelcome">
            <h2 class="header">Welcome {{contractor.name}}!</h2>
        </div>
        
        <div class="usernav">
            <ul>
                <li><a href="{% url 'contractorProfile' %}">Profile</a></li>
                <li><a href="{% url 'contractorServices' %}">Services Record</a></li>
                <li><a href="{% url 'contractorRatings' %}">Rating Record</a></li>
                <li><a href="{% url 'contractorSchedule' %}">My Schedule</a></li>
                <li class="active"><a href="{% url 'contractorContracts' %}" disabled="disabled">Contract History</a></li>
            </ul>
        </div>

        {% if hasContracts %}
        <table class="dataView">
            <thead>
                <tr>
                    <th>BookingID</th>
                    <th>Date of Service</th>
                    <th>Date Booked</th>
                </tr>
            </thead>
            <tbody>
            {% for booking in contractsMy %}
                <tr>
                    <td>{{booking.contractid}}</td>
                    <td>{{booking.dateservice}}</td>
                    <td>{{booking.datecontract}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="noData">
            <h2>No Contract History.</h2>
            <!--add button to take to services to begin booking-->
        </div>
        {% endif %}

    </body>

</html>