<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Contractor Services</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>

    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
        </div>

        <div class="userWelcome">
            <h2 class="header">Welcome {{contractor.name}}!</h2>
        </div>
        
        <div class="usernav">
            <ul>
                <li><a href="{% url 'contractorProfile' %}">Profile</a></li>
                <li class="active"><a href="{% url 'contractorServices' %}" disabled="disabled">Services Record</a></li>
                <li><a href="{% url 'contractorRatings' %}">Rating Record</a></li>
                <li><a href="{% url 'contractorSchedule' %}">My Schedule</a></li>
                <li><a href="{% url 'contractorContracts' %}">Contract History</a></li>
            </ul>
        </div>

        {% if servicesMy %}
        <table class="dataView">
            <thead>
                <tr>
                    <th>ServiceID</th>
                    <th>Service Name</th>
                    <th>Charge for Service</th>
                    <th>Years of Experience</th>
                </tr>
            </thead>
            <tbody>
            {% for contractorService in servicesMy %}
                <tr>
                    <td>{{contractorService.serviceid.serviceid}}</td>
                    <td>{{contractorService.serviceid.title}}</td>
                    <td>{{contractorService.chargeservice}}</td>
                    <td>{{contractorService.yearsexperience}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="noData">
            <h2>No Services Record.</h2>
            <div class="add">
                <a class="btn_link" href="{% url 'contractorServiceApp' %}">Apply to Offer Additional Service(s)</a>
            </div>
        </div>
        {% endif %}

    </body>

</html>