<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Welcome</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>

    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
        </div>

        <div class="userWelcome">
            <h2 class="header">Welcome {{contractor.name}}!</h2>
        </div>
        
        <div class="usernav">
            <ul>
                <li class="active"><a href="{% url 'contractorProfile' %}" disabled="disabled">Profile</a></li>
                <li><a href="{% url 'contractorServices' %}">Services Record</a></li>
                <li><a href="{% url 'contractorRatings' %}">Rating Record</a></li>
                <li><a href="{% url 'contractorSchedule' %}">My Schedule</a></li>
                <li><a href="{% url 'contractorContracts' %}">Contract History</a></li>
            </ul>
        </div>

        <table class="userinfo">
            <tr>
                <th>Name</th>
            </tr>
            <tr>
                <td>{{contractor.name}}</td>
            </tr>
            <tr>
                <th>Address</th>
                {% if contractor.aptnum %}
                <th>Apartment Number</th>
                {% endif %}
            </tr>
            </tr>
            <tr>
                <td>{{contractor.address}}</td>
                {% if contractor.aptnum %}
                <td>{{contractor.aptnum}}</td>
                {% endif %}
            </tr>
            <tr>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
            </tr>
            <tr>
                <td>{{contractor.city}}</td>
                <td>{{contractor.state}}</td>
                <td>{{contractor.zipcode}}</td>
            </tr>
                <th>Distance Willing to Travel for Job in Miles</th>
            <tr>
            </tr>
            <tr>
                <td>{{contractor.willingtravel}}</td>
            </tr>
            <tr>
                <th>SSN</th>
                <th>D.O.B</th>
                <th>Phone</th>
            </tr>
            <tr>
                <td>{{contractor.ssn}}</td>
                <td>{{contractor.dob}}</td>
                <td>{{contractor.phone}}</td>
            </tr>
            <tr>
                <th>Email</th>
            </tr>
            <tr>
                <td>{{contractor.email}}</td>
            </tr>
            <tr>
                <th>Password</th>
            </tr>
            <tr>
                <td>{{contractor.password}}</td>
            </tr>
        </table>

        <div class="edit_delete">
            <a class="btn_link" href="{% url 'contractorProfile_edit' %}">Edit</a>
            <a class="btn_link" href="{% url 'deleteAccount' %}" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</a>
        </div>
    </body>

</html>