<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Welcome</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>

    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
        </div>

        <div class="userWelcome">
            <h2 class="header">Welcome {{user.firstname}}!</h2>
        </div>
        
        <div class="usernav">
            <ul>
               <li class="active"><a href="#">Profile</a></li>
               <li><a href="#">Booking Information</a></li>
               <li><a href="#">Payment Methods</a></li>
            </ul>
        </div>

        <table class="userinfo">
            <tr>
                <th>
                    <label for="{{ user.firstname.id_for_label }}" class="label">{{user.firstname.label}}</label>
                </th>
                <th>
                    <label for="{{ user.lastname.id_for_label }}" class="label">{{user.lastname.label}}</label>
                </th>
            </tr>
            <tr>
                <th>{{user.firstname}}</th>
                <th>{{user.lastname}}</th>
            </tr>
          <tr>
            <th colspan="2">
                <label for="{{ form.address.id_for_label }}" class="label">{{user.address.label}}</label>
                </th>
            </tr>
            <tr>
                <th colspan="2">{{user.address}}</th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="{{ form.aptnum.id_for_label }}" class="label">{{user.aptnum.label}}</label>
                </th>
            </tr>
            <tr>
                <th colspan="2">{{user.aptnum}}</th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="{{ user.city.id_for_label }}" class="label">{{user.city.label}}</label>
                </th>
            </tr>
            <tr>
                <th colspan="2">{{user.city}}</th>
            </tr>
            <tr>
                <th>
                    <label for="{{ user.state.id_for_label }}" class="label">{{user.state.label}}</label>
                </th>
                <th>
                    <label for="{{ user.zipcode.id_for_label }}" class="label">{{user.zipcode.label}}</label>
                </th>
            </tr>
            <tr>
                <th>{{user.state}}</th>
                <th>{{user.zipcode}}</th>
            </tr>
            <tr>
                <th>
                    <label for="{{ user.dob.id_for_label }}" class="label">D.O.B</label>
                </th>
                <th>
                    <label for="{{ user.phone.id_for_label }}" class="label">{{user.phone.label}}</label>
                </th>
            </tr>
            <tr>
                <th>{{user.dob}}</th>
                <th>{{user.phone}}</th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="{{ user.email.id_for_label }}" class="label">{{user.email.label}}</label>
                </th>
            </tr>
            <tr>
                <th colspan="2">{{user.email}}</th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="{{ user.password.id_for_label }}" class="label">{{user.password.label}}</label>
                </th>
            </tr>
            <tr>
                <th colspan="2">{{user.password}}</th>
            </tr>
        </table>
    </body>

</html>