<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Welcome</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'hns/css/style.css' %}" />
    </head>

    <body>
        <div class="topnav">
            <div class="topnav_logo">
                <a href="{% url 'home' %}">HomeNeedsService</a>
            </div>
        </div>

        <div class="userWelcome">
            <h2 class="header">Welcome {{user.firstname}}!</h2>
        </div>
        
        <div class="usernav">
            <ul>
                <li class="active"><a href="{% url 'userProfile' %}" disabled="disabled">Profile</a></li>
                <li><a href="{% url 'userBooking' %}">Booking Information</a></li>
                <li><a href="{% url 'userPayment' %}">Payment Methods</a></li>
            </ul>
        </div>

        <table class="userinfo">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
            </tr>
            <tr>
                <th>Address</th>
            </tr>
            <tr>
                <td>{{user.address}}</td>
            </tr>
            {% if user.aptnum != none %}
            <tr>
                <th>Apartment Number</th>
            </tr>
            <tr>
                <td>{{user.aptnum}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>City</th>
            </tr>
            <tr>
                <td>{{user.city}}</td>
            </tr>
            <tr>
                <th>State</th>
                <th>Zip Code</th>
            </tr>
            <tr>
                <td>{{user.state}}</td>
                <td>{{user.zipcode}}</td>
            </tr>
            <tr>
                <th>D.O.B</th>
                <th>Phone</th>
            </tr>
            <tr>
                <td>{{user.dob}}</td>
                <td>{{user.phone}}</td>
            </tr>
            <tr>
                <th>Email</th>
            </tr>
            <tr>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>Password</th>
            </tr>
            <tr>
                <td>{{user.password}}</td>
            </tr>
        </table>

        <div class="edit_delete">
            <a class="btn_link" href="{% url 'userProfile_edit' %}">Edit</a>
            <a class="btn_link" href="{% url 'deleteAccount' %}" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</a>
        </div>
    </body>

</html>